@use "../utils/mixins" as *;
@use "../utils/variables" as *;

* {
  @include prefixer(box-sizing, border-box, ("webkit", "moz", "o", "ms"));
  margin: 0;
  padding: 0;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media #{$minSmall} {
    width: 750px;
  }
  @media #{$minMedium} {
    width: 970px;
  }
  @media #{$minLarge} {
    width: 1170px;
  }
}
