// Media
// Max
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
// Min
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";

// Colors
$primary: #0D2F3F;
$secondary: #286F6C;
$secondary-white: #E7E7E7;
