// Media
// Max
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
// Min
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";
// 

$sm :640px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;
// Colors
$primary: #0D2F3F;
$bg-primary: #f8f7f1;
$secondary: #286F6C;
$secondary-white: #E7E7E7;
$light: #fff;
$bg-icon-1:#286F6C;
$bg-icon-2:#EEC048;
$bg-icon-3:#F26440;
$custom-color: #0000000d;
$semi-transparent-black: rgba(0, 0, 0, 0.04);
$bg-circle-1:#286F6C;
$bg-circle-2:#F2704E;
$bg-circle-3:#EEC048;
$bg-line:linear-gradient(
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
// $semi-transparent-black: #0000000d;

// Shadow
$primary-shadow:0 4px 4px $semi-transparent-black;
$secondary-shadow: 0px 21px 13px $semi-transparent-black;